body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
    height: 900px;
}

.header__banner {
    background: transparent url('../assets/images/Bitmap-5@2x.png') 0% 0% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.header__navigation-wrapper {
    max-width: 1300px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 38px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.header__links {
    display: flex;
    width: fit-content;
}

.header__link {
    margin: 0 20px;
    transition: 0.3s;
    line-height: 3.8;
}

.header__link:hover {
    color: #C8A74B;
}

.header__social {
    display: flex;
    justify-content: space-between;
    height: 16px;
    width: 65px;
    line-height: 3.2;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.header__order-btn {
    width: 192px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 3px;
    background: transparent url('../assets/icons/shopping-cart.svg') 82% 48% no-repeat;
    cursor: pointer;
    padding: 0 43px;
    transition: 0.3s;
}

.header__order-btn:hover {
    background-color: #FFFFFF;
    color: #222222;
}

.header__titles {
    width: 80%;
    max-width: 686px;
    width: 80%;
    margin: 244px auto 0;
    text-align: center;
}

.header__titles-subtitle {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
}

.header__titles-maintitle {
    font-family: 'Helvetica-Bold', sans-serif;
    font-size: 52px;
    color: #FFFFFF;
    margin: 12px 0 0;
    letter-spacing: -1px;
}

.header__titles-order-btn {
    width: 228px;
    height: 60px;
    margin-top: 30px;
    background-color: #D4B254;
    box-shadow: 0px 2px 10px #00000033;
    border-radius: 30px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.header__sliderbar {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.header__sliderbar-bar {
    width: 50px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.header__sliderbar .active {
    background-color: #D4B254;
}

.main {
    margin-top: 1px;
}

.about-us {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about-us__banner {
    width: 50%;
    background: transparent url('../assets/images/Bitmap-4@2x.png') 0% 0% no-repeat;
    background-size: cover;
}

.about-us__info-wrapper {
    max-width: 580px;
}

.about-us__info {
    padding: 170px 0 168px 71px;
    width: 50%;
    box-sizing: border-box;
}

.subtitle {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
    color: #D4B254;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;
}

.about-us__info-title {
    font-family: 'Helvetica-Bold', sans-serif;
    font-size: 42px;
    color: #222222;
    text-align: left;
    letter-spacing: 0px;
    margin: 15px 0 0;
    font-weight: 600;
}

.about-us__info-text {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    color: #777777;
    text-align: left;
    letter-spacing: 0px;
    margin: 33px 0 0;
    line-height: 1.6;
}

.about-us__info-btn {
    width: 211px;
    height: 60px;
    margin-top: 30px;
    background-color: #D4B254;
    box-shadow: 0px 2px 10px #00000033;
    border-radius: 30px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    line-height: 4.15;
}

.feedback {
    height: 600px;
    background-color: #EEEEEE;
    position: relative;
    margin-top: 1px;
}

.feedback-info-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

.feedback__title {
    font-family: 'Helvetica-Bold', sans-serif;
    font-size: 32px;
    color: #222222;
    letter-spacing: 0px;
    margin: 17px 0 0;
    font-weight: 600;
}

.feedback__text {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    color: #777777;
    letter-spacing: 0px;
    margin: 24px 0 0;
    line-height: 1.6;
}

.feedback__text-author {
    display: block;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    color: #777777;
    letter-spacing: 0px;
    margin: 18px 0 0;
    line-height: 1.6;
}

.feedback__btn {
    width: 419px;
    min-height: 60px;
    margin-top: 30px;
    background-color: #D4B254;
    box-shadow: 0px 2px 10px #00000033;
    border-radius: 30px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    line-height: 4.15;
}

.feedback__arrow-left {
    width: 70px;
    height: 70px;
    position: absolute;
    left: -20%;
    top: 50%;
    transform: translateY(-50%);
    background: transparent url('../assets/icons/arrow-left.svg') no-repeat;
    cursor: pointer;
}

.feedback__arrow-right {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);
    background: transparent url('../assets/icons/arrow-right.svg') no-repeat;
    cursor: pointer;
}

.gallery {
    height: auto;
    position: relative;
    padding: 93px 0 100px;
}

.gallery-wrapper {
    max-width: 1320px;
    margin: 0 auto;
}

.gallery__title {
    font-family: 'Helvetica-Bold', sans-serif;
    font-size: 32px;
    color: #222222;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.gallery__imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 28px;
}

.gallery__imgs-item {
    height: 310px;
    width: 310px;
    margin: 10px;
}

.gallery__imgs-item:nth-of-type(1) {
    background: transparent url('../assets/images/slide1@2x.png') no-repeat;
}

.gallery__imgs-item:nth-of-type(2) {
    background: transparent url('../assets/images/slide2@2x.png') no-repeat;
}

.gallery__imgs-item:nth-of-type(3) {
    background: transparent url('../assets/images/slide3@2x.png') no-repeat;
}

.gallery__imgs-item:nth-of-type(4) {
    background: transparent url('../assets/images/slide4@2x.png') no-repeat;
}

.gallery__btn {
    display: block;
    width: 184px;
    height: 60px;
    margin: 34px auto 0;
    background-color: #D4B254;
    box-shadow: 0px 2px 10px #00000033;
    border-radius: 30px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    line-height: 4.15;
}

.footer {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../assets/images/Bitmap-4@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    box-sizing: border-box;
}

.footer__wrapper {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding-bottom: 60px;
}

.footer__top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer__short-line {
    width: 590px;
    height: 1px;
    background-color: rgba(255, 255, 255, .3);
}

.footer__info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 808px;
    margin: 34px auto 0;
}

.footer__info-block {
    padding: 15px;
}

.footer__info-title {
    font-family: 'Helvetica-Bold', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: left;
    letter-spacing: 0px;
    margin: 0 0 32px;
}

.footer__info-item {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.8;
    margin-top: 16px;
}

.footer__info-list-social {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.footer__info-item-social {
    opacity: 1;
}

.footer__copyright {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0px;
    width: 372px;
    margin: 50px auto 0;
    opacity: 0.5;
    line-height: 2.6;
}

.main_btn {
    transition: 0.3s;
}

.main_btn:hover {
    background-color: #C8A74B;
}

@media (max-width: 680px) {
    .feedback__btn {
        width: 100%;
    }
}

@media (max-width: 860px) {
    .feedback__arrow-right {
        display: none;
    }
    .feedback__arrow-left {
        display: none;
    }
}

@media (max-width:960px) {
    .header__banner {
        background-image: url(../assets/images/Bitmap-5.png);
    }
    .about-us__banner {
        background-image: url(../assets/images/Bitmap-4.png);
    }
    .gallery__imgs-item:nth-of-type(1) {
        background-image: url('../assets/images/slide1.png');
    }
    .gallery__imgs-item:nth-of-type(2) {
        background-image: url('../assets/images/slide2.png');
    }
    .gallery__imgs-item:nth-of-type(3) {
        background-image: url('../assets/images/slide3.png');
    }
    .gallery__imgs-item:nth-of-type(4) {
        background-image: url('../assets/images/slide4.png');
    }
    .header__navigation {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header__logo {
        order: 1;
        margin-bottom: 30px;
    }
    .header__links {
        order: 2;
        width: 100%;
        justify-content: space-between;
    }
    .header__order-btn {
        order: 3;
        margin: 0 auto;
    }
    .header__titles {
        margin: 60px auto 0;
    }
    .header__order-btn {
        width: 100%;
        text-align: center;
        background-position: 70% 48%;
    }
}

@media (max-width: 1200px) {
    .about-us {
        display: block;
        height: auto;
    }
    .about-us__banner {
        height: 700px;
        width: 100%;
    }
    .about-us__info {
        width: 100%;
    }
    .about-us__info-wrapper {
        max-width: 880px;
    }
    .about-us__info {
        padding: 50px;
    }
}